{% extends 'base.html.twig' %}

{% block title %}Hello Gamers!{% endblock %}

{% block body %}
{# condition si la role est utilisateur on affiche la liens de rederect sur l'events #}
{% if is_granted("ROLE_USER") %}
        <a class="lien_show" href="{{ path('app_join_events') }}" ><i class="fa-solid fa-angle-left"></i>- Previous Page </a>
{% endif %}
{# partie search une jeu #}
    <div class="BoardGame-div">
        <h2 class="h2-WelcomePage">Welcome to BoardGame-events</h2>
        <h4>Please Saarch a game</h4>
        <div class="form-group form-games">
            <input type="text" class="search" name="search" id="search" placeholder="search...">
            <select name="games" id="games" class="select"></select>
        </div>
{# partie resultat de la search d'une jeu #}
        <div class="game-info">
            <img class="img" id="game-img" src="{{ asset("/img/image.svg") }}" alt="">
            <div class="desc">
                <h3 class="h3-desc" id="title"></h3>
                 <div class="infos">
                    <p class="players" id="players"></p>
                    <p class="minutes" id="minutes"></p>
                </div> 
                <p class="text" id="text"></p>
            </div>
        </div>
    </div>
{% endblock %}

{# partie script #}
{% block javascript %}
    <script>
        {# console.log(document.querySelector('#search'))
        console.log(document.querySelector('#games'))
        console.log(document.querySelector('#game-img'))
        console.log(document.querySelector('#title'))
        console.log(document.querySelector('#text'))
        console.log(document.querySelector('#players'))
        console.log(document.querySelector('#minutes')) #}

        window.addEventListener('DOMContentLoaded', (event) => {
            // zone de recherche et liste déroulante
            const search = document.querySelector('#search');
            const select = document.querySelector('#games');
            const img = document.querySelector('#game-img');
            const title = document.querySelector('#title');
            const p = document.querySelector('#text');
            const players = document.querySelector('#players');
            const minutes = document.querySelector('#minutes');


        // une pare de selection qui change au niveau click de selection des jeus et souvgarder le identifient de ce jeu choisi 
            select.addEventListener('change', (e) => {
                e.preventDefault();
                const gameId = select.selectedOptions[0].value;
                

               
                //console.log(gameId)

                /* urlgame : url game variable qui stock la url qui on va faire la request sur la server 
                    fetch:  la fetch function est utliser pour faire un requet HTTP pour la spefiction de la URL (urlGame).
                    2 headers :
                        1er 'application/x-www-form-urlencoded : Cet en-tête précise que le contenu de la requête 
                            que se présente sous la format pour envoyer des données dans les requêtes HTTP POST

                        2em * / * : indique que le client (navigateur) est prêt à accepter les réponses dans n'importe quel format
                */ 
                const urlGame = '/game';
                fetch(urlGame, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',                 
                        'Accept': '*/*' 
                    },            
                    // paramètre de la route du controller (gameId)
                    body: new URLSearchParams({
                        'gameId' : gameId
                    }) 
            })
            // d'apres recevoir une reponse de la coté serveur ce reponse est expecter d'etre en format json data.
            .then(async (response) => {
                const rep = await response.json();

                //console.log(rep);

                // les information de ce reponse il va affiche une image depuis l'api sinon on a mis une svg en place.
                img.src = rep["boardgame"]['image'] ?rep["boardgame"]['image'] : '../img/image.svg';


               //console.log();

                /* 
                    les information doit contient la discription et la nom et la numero minimum paritcipant de ce jeu et la maximum aussi
                */
                p.innerHTML = rep["boardgame"]["description"];
                title.innerHTML = rep["boardgame"]["name"];
                players.innerHTML =  "<i class='fa-solid fa-users-line'></i> From "+rep["boardgame"]["minplayers"]+" to "+ rep["boardgame"]["maxplayers"]+" players";
                minutes.innerHTML = "<i class='fa-regular fa-clock'></i> "+rep["boardgame"]["minplaytime"]+" min";
            })
        })

        // a la sortie de l'input de recherche
        search.addEventListener('focusout',(e) => {
            // vider la liste déroulante
            select.innerText = null;
            e.preventDefault();
            //valeur saisie dans l'input
            const searchValue = search.value;


            //console.log(searchValue);

            /* urlgame : url game variable qui stock la url qui on va faire la request sur la server 
                    fetch:  la fetch function est utliser pour faire un requet HTTP pour la spefiction de la URL (urlGame).
                    2 headers :
                        1er 'application/x-www-form-urlencoded : Cet en-tête précise que le contenu de la requête 
                            que se présente sous la format pour envoyer des données dans les requêtes HTTP POST

                        2em * / * : indique que le client (navigateur) est prêt à accepter les réponses dans n'importe quel format
                // URL à fetch (HomeController)
            */ 
            const url = '/games';
                fetch(url, { 
                    method: 'POST',
                    headers: {
                       'Content-Type': 'application/x-www-form-urlencoded',                 
                       'Accept': '*/*' 
                    },            
                    // paramètre de la route du controller (searchValue)
                    body: new URLSearchParams({
                        'searchValue' : searchValue
                    }) 
                })

            // d'apres recevoir une reponse de la coté serveur ce reponse est expecter d'etre en format json data.
            .then(async (response) => {
                const rep = await response.json();
                
                // boucler sur les résultats de l'API 
                //for(r in rep["games"]){
                    //let option = document.createElement('option');
                    //option.innerText = rep["games"][r]["name"] + " (" + rep["games"][r]["year_published"] + ")";
                    //option.value = rep["games"][r]["id"];
                    //select.append(option);
                //}

                // création des options du select 
                for(r in rep["boardgame"]){
                    let option = document.createElement('option');
                    option.innerText = rep["boardgame"][r]["name"] + " (" + rep["boardgame"][r]["yearpublished"] + ")";

                    
                    option.value = rep["boardgame"][r]["@attributes"]["objectid"];
                    select.append(option);
                }

                console.log(rep["boardgame"])


            })
        })
        })
   </script>
{% endblock javascript %}