* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
address,
dl,
fieldset,
figure,
ol,
p,
pre,
ul {
  margin: 0;
}
ol,
ul {
  padding: 0;
}
header {
  position: relative;
}
.h2-hello {
  margin-top: 90px;
  font-family: "Great Vibes";
}
.centre-home {
  margin-left: 250px;
}
img.logo {
  margin-top: 10px;
  /* opacity: 0.5; */
  width: 195px;
  height: 75px;
  padding-left: 20px;
  /* border-radius: 75px; */
}
.navbar-nav {
  position: relative;
}
.navbar-left {
  position: absolute;
  margin: auto;
  left: 0;
}
.navbar-right {
  position: absolute;
  margin: auto;
  right: 0;
}
.navbar-blue {
  background: rgb(32, 31, 32);
  background: linear-gradient(
    90deg,
    rgba(124, 69, 129, 1) 12%,
    rgba(124, 69, 129, 1) 31%,

    rgba(194, 30, 173, 1) 58%,
    rgba(169, 30, 199, 1) 80%,
    rgba(34, 30, 158, 1) 95%
  );
}
.nav-home {
  background: none;
}
.container {
  max-width: 1075.2px;
  width: 90%;
  margin: auto;
  position: relative;
}
.navbar {
  width: 100%;
  height: 12vh;
}
.navbar .menu-items {
  display: flex;
}
.navbar .nav-container li {
  list-style: none;
}
.navbar .nav-container a {
  text-decoration: none;
  color: #d4ebf9;
  font-weight: 500;
  font-size: 1.2rem;
}
.navbar .nav-container a:hover {
  font-weight: bolder;
}
.nav-container {
  margin-top: 15px;
  margin-right: 25px;
  display: block;
  position: relative;
  height: 60px;
}
.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  right: 20px;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}
.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  right: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #eceff1;
}
.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}
.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}
.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}
.navbar .menu-items {
  position: relative;
  z-index: 2;
  padding: 15px;
  padding-top: 10px;
  box-shadow: inset 0 0 2000px #3c2f3d;

  transform: translate(+170%);
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-left: -200px;
  transition: transform 0.5s ease-in-out;
}
.navbar .menu-items li {
  padding: 17px;
  font-weight: 500;
}
.logo1 {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 1.2rem;
  color: #0e2431;
}
.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}
.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}
.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}
.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}
.nav-container input[type="checkbox"]:checked ~ .logo {
  display: none;
}
main {
  flex: 1 0 auto;
}
.game-info {
  margin-left: 10px;
  display: flex;
  gap: 20px;
}

.desc {
  margin-top: 20px;
  width: 50%;
}
footer {
  flex-shrink: 0;
  width: 100%;
  height: 20vh;
  text-align: center;
  background: rgb(66, 66, 66);
  color: #fff;
  padding: 20px;
  margin-top: 50px;
}
footer p {
  margin-bottom: 0;
  font-size: 15px;
}
.footer-part {
  position: relative;
}
.footer-mid {
  position: absolute;
  top: 20px;
  right: 45%;
  display: flex;
  flex-direction: column;
}
.footer-right {
  position: absolute;
  top: 20px;
  right: 10%;
  display: flex;
  flex-direction: column;
}
.footer-left {
  position: absolute;
  top: 10px;
  left: 10%;
  display: flex;
  flex-direction: column;
}
.p-footer {
  font-size: 12px;
}
.video {
  position: relative;
  width: 1540px;
  height: 520px;
  object-fit: cover;
}
.video-text {
  font-family: "Open Sans";
  font-size: 17px;
  font-weight: 600;
  position: absolute;
  top: 320px;
  left: 680px;
  color: #fff;
}
.video-not {
  font-family: "Open Sans";
  font-size: 17px;
  font-weight: 600;
  position: absolute;
  top: 310px;
  left: 670px;
  color: #fff;
}
.video-not1 {
  font-family: "Open Sans";
  font-size: 17px;
  font-weight: 600;
  position: absolute;
  top: 360px;
  left: 722px;
  color: #fff;
}
.video-notA {
  padding: 10px;
  border: solid 3px #ffffff;
  text-decoration: none;
  color: #ffffff;
}
.video-text2 {
  font-family: "Open Sans";
  font-size: 17px;
  font-weight: 600;
  position: absolute;
  top: 360px;
  left: 642px;
  text-decoration: none;
}
.video-text2 > a {
  text-decoration: none;
  color: #fff;
  padding: 5px;
  border: 1px solid #fff;
}
.video-text3,
.video-text4 {
  align-items: center;
  color: #fff;
  font-family: "Open Sans";
  font-size: 17px;
  font-weight: 600;
  position: absolute;
  top: 395px;
  left: 470px;
  text-decoration: none;
}
.video-text4 {
  top: 415px;
  left: 575px;
}
.lien-check {
  position: absolute;
  width: 200px;
  height: 3px;
  display: block;
  margin-left: 660px;
}
span.lien-check {
  background-color: #c01eaf;
}
.check {
  margin-top: 35px;
}
.check-p {
  text-align: center;
  color: #811575;
  font-family: "Open Sans";
  margin: 0;
  font-size: 23px;
  font-weight: bolder;
}
.form {
  text-align: center;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.add {
  width: fit-content;
  margin-left: 520px;
  font-size: 24px;
}
.drow {
  margin-top: -40px;
  display: inline-block;
  height: 0.3em;
  width: 50%;
  border-bottom: 3px solid #8a8989;
  vertical-align: middle;
  margin-left: 5px;
}
.centre-home h4,
.h4-form {
  font-family: "vibes";
  font-weight: 700;
  margin-left: 20px;
  width: fit-content;
  width: -moz-fit-content;
}
.form-container,
.form-content {
  padding: 10px;
  position: relative;
  margin-left: 450px;
}
.form-content:before,
.form-content:after {
  content: "";
  position: absolute;
  top: 0;
  left: 590px;
  height: 100%;
  border-right: 3px solid #8a8989;
}
.form-content:before {
  width: 10px;
}

.form-content:after {
  width: 20px;
}
.form-container:before,
.form-container:after {
  content: "";
  position: absolute;
  top: 0;
  right: 35%;
  height: 100%;
  border-right: 3px solid #8a8989;
}

.form-container:before {
  width: 10px;
}
.form-container:after {
  width: 15px;
}
.form-group,
.form-add {
  display: flex;
  flex-direction: column;
  padding: 22px;
  max-width: 500px;
}
.form-group {
  padding: 0;
}
label {
  margin-top: 10px;
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
}
.form-add .line1 {
  margin-top: 10px;
  position: absolute;
  width: 600px;
  height: 3px;
  display: block;
}
.form-add .line2 {
  position: absolute;
  width: 600px;
  height: 3px;
  display: block;
}
.form-add .line3 {
  height: 5px;
  display: block;
}
.form-add span.line1 {
  background-color: #8a8989;
}

.form-add span.line2 {
  background-color: #8a8989;
}
.form-add span.line1::after {
  content: "";
}

.form-add span.line2::after {
  content: "";
}
.select {
  margin-left: 20px;
}
input#event_places.input-field {
  width: 80px;
}
textarea#event_name.input-field {
  max-width: 326px;
  max-height: 30px;
  min-width: 164px;
  min-height: 28px;
}
textarea#event_description.input-field {
  max-width: 405px;
  max-height: 72px;
  min-width: 164px;
  min-height: 28px;
}
textarea#event_adresse.input-field {
  max-width: 414px;
  max-height: 49px;
  min-width: 164px;
  min-height: 28px;
}
textarea#event_cp.input-field {
  max-width: 150px;
  max-height: 36px;
  min-width: 150px;
  min-height: 36px;
}
textarea#event_city.input-field {
  width: 269px;
  height: 36px;
  max-width: 269px;
  max-height: 36px;
  min-width: 269px;
  min-height: 36px;
}
.search {
  width: 350px;
  margin-left: 20px;
  margin-bottom: 10px;
}
.grip {
  padding: 10px;
  margin-top: 20px;
  margin-left: 130px;
  margin-bottom: 30px;
}
i.fa-solid.fa-grip-lines {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.grip-p {
  font-size: 15px;
  margin: 0;
  color: #c01eaf;
}
.box-container {
  margin-left: 140px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.box {
  padding: 12px;

  background-color: #dfc9e4;
  /*
  box-shadow: inset -2px -2px 73px 21px rgba(165, 121, 165, 0.72); */
  width: 520px;
  border-radius: 10px;
}
.date-box {
  width: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  text-align: center;
  color: #fff;
}
.box-up {
  margin-top: 12px;
  display: flex;
  flex-wrap: wrap;
  height: 100px;
}
.box-dawn {
  width: 290px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.box-left {
  margin-left: 10px;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  background-color: #110a2b;
}
.box-img {
  width: 200px;
  height: 100px;
}

.adress-p {
  text-align: justify;
  margin-left: 20px;
  font-size: 14px;
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #565656;
  width: 150px;
}
.time {
  margin-left: 12px;
}
.admin {
  color: #b729ba;
  margin-left: 15px;
}
.admin:hover {
  color: #811683;
}
i.fa-solid.fa-hand-peace {
  margin-left: 20px;
  padding: 10px;
  height: 40px;
  width: 175px;
  border: 3px solid #811575;
  display: flex;
  gap: 10px;
}
i.fa-solid.fa-hand-peace:hover {
  border: 3px solid #b729ba;
}
i.fa-solid.fa-hand-peace a:hover {
  color: #b729ba;
}
i.fa-solid.fa-hand-peace a:hover {
  text-decoration: none;
}
i.fa-solid.fa-hand-peace a {
  color: #811575;
  font-size: 16px;
  font-weight: 700;
}
.box-name {
  font-size: 14px;
  font-weight: 700;
  font-family: "Open Sans";
  color: #b729ba;
}
.box-name:hover {
  color: #811683;
  text-decoration: none;
}
.learn-more {
  width: 120px;
  font-size: 16px;
  font-weight: 700;
  border: 3px solid #811575;
  margin-left: 20px;
}
.learn-more a {
  color: #811575;
}
.learn-more:hover {
  border: 3px solid #b729ba;
}
.learn-more a:hover {
  text-decoration: none;
  color: #b729ba;
}
.btn-event {
  margin-top: 20px;
  margin-left: 450px;
  background-color: #b729ba;
  border-radius: 12px;
}
a.lien {
  position: absolute;
  top: 100px;
  margin-left: 150px;
  color: #b729ba;
  font-size: medium;
  font-family: "open sans";
  font-weight: 700;
}
a.lien:hover {
  color: #eaa3eb;
  text-decoration: none;
}
a.lien_show {
  position: absolute;
  top: 100px;
  margin-left: 190px;
  color: #b729ba;
  font-size: medium;
  font-family: "open sans";
  font-weight: 700;
}
h1.h3.mb-3.font-weight-normal.h1-log {
  font-size: x-large;
  font-family: "vibes";
  font-weight: 700;
  margin-left: 450px;
}
a.lien_show:hover {
  color: #eaa3eb;
  text-decoration: none;
}
label.label,
input#inputEmail.input,
input#inputPassword.input {
  margin-left: 450px;
}
.btn {
  margin-left: 0px;
  background-color: #b729ba;
  border-radius: 12px;
  padding: 5px;
}
h1.h1-reg {
  margin-left: 680px;
  font-size: x-large;
  font-family: "vibes";
  font-weight: 700;
}
.reg-form {
  margin-left: 550px;
}
#registration_form_plainPassword_first,
#registration_form_plainPassword_second,
.email-input,
.pseudo-input {
  margin-left: 150px;
}
#registration_form_agreeTerms {
  margin-left: 20px;
}
.btn-reg {
  padding: 5px;
  margin-left: 270px;
  background-color: #b729ba;
  border-radius: 12px;
}
.boxi {
  margin-top: 100px;
  margin-left: 140px;
  width: 700px;
  height: 200px;
  display: flex;

  background-color: #110a2b;
}
.box-centre {
  display: flex;
  flex-direction: column;
  margin-left: 200px;
}
.show-mode {
  margin-left: 150px;
}
.left-right {
  padding: 10px;
  padding-left: 0;

  font-size: 20px;
  font-weight: 700;
  font-family: "vibes";
  display: flex;
  flex-wrap: wrap;
  gap: 135px;
}
.swiper-slide:hover {
  cursor: pointer;
}
div.dateBox {
  width: 100px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  text-align: center;
  color: #fff;
}
img.boxImg {
  width: 900px;
  height: 200px;
}
.img {
  margin-left: 20px;
  margin-top: 20px;
  width: 150px;
  /* height: 400px; */
  object-fit: cover;
  object-position: top;
}
.img1 {
  margin-left: -10px;
  margin-top: 20px;
  width: 150px;
  /* height: 400px; */
  object-fit: cover;
  object-position: top;
}
.join-desc {
  font-size: 15px;
  font-weight: 700;
  font-family: "vibes";
  color: #414040;
}
.place-join i {
  color: #811575;
}
.place-join a {
  padding: 5px;
  font-size: 20px;
  font-weight: 700;
  font-family: "vibes";
  color: #811575;
  margin-left: 400px;
  text-decoration: underline;
}
.Discripe {
  color: #5d5d5d;
  width: 550px;
  font-size: 18px;
  font-weight: 400;
  font-family: "vibes";
}
.Postal {
  padding: 10px;
  padding-bottom: 0px;
  width: 550px;
  font-size: 18px;
  font-weight: 700;
  font-family: "vibes";
  color: #565656;
}
.Postal-line {
  margin-left: 10px;
  width: 700px;
  content: " ";
  color: #565656;
  border-bottom: solid 2px #565656;
}
div.gray-text,
.desc {
  font-size: 18px;
  font-weight: 700;
  font-family: "vibes";
  color: #565656;
}
body {
  position: relative;
}
.swiper {
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}
.box1 {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  border-radius: 10px;
}
.box-left1 {
  display: flex;
  flex-wrap: wrap;
  height: 200px;
  /* width: 900px; */
}
.date-left {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.date-right img {
  width: 350px;
  height: 200px;
  object-fit: cover;
}
.date-box1 {
  background-color: #110a2b;
  display: flex;
  gap: 20px;
  justify-content: center;
  text-align: center;
  color: #fff;
}
.first-adresse {
  font-size: 14px;
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #1d1d1d;
}
.adresse-box1 {
  margin-left: 30px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  text-align: justify;
  font-size: 14px;
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #565656;
  width: 150px;
}
.box1-right {
  color: black;
}
.gallery {
  margin-top: 80px;
  margin-bottom: 30px;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 6px);
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: var(--swiper-pagination-bottom, 0px);
}
.back {
  background-image: url("/img/Gaming-2.jpg");
  /* Set a specific height */
  min-height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*filter: grayscale(1);*/
}
.parallax {
  margin: 0px;
  /* The image used */
  /* background-color: #000000; */
  opacity: 0.6;
  min-height: 500px;
}
.demo {
  opacity: 0.9;
  margin: 0;
  display: grid;
  flex-direction: column;
  align-items: flex-start;
  width: 1000px;
  text-align: center;
  margin-left: 240px;
}
.demo > *:first-child {
  align-self: stretch;
}
.h3-demo {
  margin-top: 100px;
  padding-top: 30px;
  color: rgb(255, 255, 255);
  font-size: 28px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.p-demo {
  padding-bottom: 30px;
  color: rgb(240, 240, 240);
  font-size: 18px;
  text-align: center;
  margin: 20px;
}
.FEATURED-SHOWS {
  padding: 10px;
  color: #811575;
}
.FEA-span {
  color: #811575;
  margin-left: 655px;
}
.FEA-titre {
  font-size: 25px;
  font-weight: 700;
  font-family: "vibes";
  margin-left: 640px;
}
.FEA {
  padding: 10px;
}
.FEA-p {
  margin-top: 30px;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  font-family: "vibes";
  margin-left: 50px;
}
.FEA-p1 {
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  font-family: "vibes";
  margin-left: 50px;
}
.FEA-p2 {
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  font-family: "vibes";
  margin-left: 50px;
  margin-bottom: 30px;
}
.FEA-a {
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  font-family: "vibes";
  border: solid 3px #811575;
  padding: 5px;
  margin-left: 720px;
  color: #811575;
}
#myBtn {
  position: fixed;
  left: 10px;
  bottom: 10px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border-color: #f2f2f2;
  background: #555;
  box-shadow: 0 0 10xp rgb(255, 255, 255);
  color: #ffffff;
  outline: none;
  cursor: pointer;
}
#myBtn:active {
  background: rgb(141, 139, 139);
}
div.comment {
  margin-left: 150px;
}
.InputContainer-comment,
.mar-comment {
  margin-left: 10px;
}
.comment-item {
  position: relative;
}
.postedby {
  margin-left: 510px;
}
.font-comment {
  margin-left: 20px;
  font-size: 20px;
  font-weight: 500;
  font-family: "vibes";
}
.form-comment {
  margin-bottom: 20px;
}
@media (max-width: 750px) {
  .game-info {
    flex-direction: column;
  }
  .img {
    width: 100%;
    height: auto;
  }
  .desc {
    width: 100%;
  }
}
