* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
address,
dl,
fieldset,
figure,
ol,
p,
pre,
ul {
  margin: 0;
}
ol,
ul {
  padding: 0;
}
header {
  position: relative;
}
.h2-hello {
  margin-top: 90px;
  font-family: "Playfair Display", serif;
  margin-left: 15px;
}
.centre-home {
  margin-left: 250px;
}
img.logoHome {
  position: absolute;
  top: 100;
  z-index: 199999;
  margin-top: 10px;
  opacity: 0.6;
  width: 145px;
  height: 75px;
  padding-left: 20px;
  /* border-radius: 75px; */
}
img.logo {
  margin-top: 10px;
  /* opacity: 0.5; */
  width: 195px;
  height: 75px;
  padding-left: 20px;
  /* border-radius: 75px; */
}
img.logo:hover {
  cursor: pointer;
}
.navbar-nav {
  position: relative;
}
.navbar-left {
  position: absolute;
  margin: auto;
  left: 0;
}
.navbar-right {
  position: absolute;
  margin: auto;
  right: 0;
}
.navbar-blue {
  background: rgb(32, 31, 32);
  background: linear-gradient(
    90deg,
    rgb(18, 18, 18) 12%,
    rgb(66, 66, 66) 31%,

    rgba(153, 41, 138, 0.742) 58%,
    rgba(43, 27, 44, 0.79) 80%,
    rgb(11, 11, 11) 95%
  );
}
.nav-home {
  background: none;
}
.container {
  max-width: 1075.2px;
  width: 90%;
  margin: auto;
  position: relative;
}
.navbar {
  width: 100%;
  height: 14vh;
}
.navbar .menu-items {
  display: flex;
}
.navbar .nav-container li {
  list-style: none;
}
.navbar .nav-container a {
  text-decoration: none;
  color: #d4ebf9;
  font-weight: 500;
  font-size: 1.2rem;
}
.navbar .nav-container a:hover {
  font-weight: bolder;
}
.nav-container {
  margin-top: 15px;
  margin-right: 25px;
  display: block;
  position: relative;
  height: 60px;
}
.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  right: 20px;
  opacity: 0;
  cursor: pointer;
  z-index: 5;
}
.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  right: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #eceff1;
}
.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}
.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}
.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}
.navbar .menu-items {
  position: relative;
  z-index: 4;
  padding: 15px;
  padding-top: 10px;
  box-shadow: inset 0 0 2000px #3c2f3d;

  transform: translate(+170%);
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-left: -200px;
  transition: transform 0.5s ease-in-out;
}
.navbar .menu-items li {
  padding: 17px;
  font-weight: 500;
}
.logo1 {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 1.2rem;
  color: #0e2431;
}
.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}
.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}
.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}
.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}
.nav-container input[type="checkbox"]:checked ~ .logo {
  display: none;
}
main {
  flex: 1 0 auto;
}
.game-info {
  margin-left: 10px;
  display: flex;
  gap: 20px;
}
.display {
  width: 900px;
  display: flex;
  flex-wrap: wrap;
}
#mapid {
  height: 350px;
  /* width: 200px; */
  /* height: auto;
  width: auto; */
}
.map {
  width: 190px;
}
.game-info {
  flex: 2;
}
.desc > p {
  width: 400px;
}
.desc {
  height: 400px;
  margin-top: 20px;
  overflow: auto;
  /*   width: 50%; */
}
.img1 {
  width: 250px;
  height: 400px;
}
footer {
  flex-shrink: 0;
  width: 100%;
  height: 20vh;
  text-align: center;
  background: rgb(66, 66, 66);
  color: #fff;
  padding: 20px;
  margin-top: 50px;
}
footer p {
  margin-bottom: 0;
  font-size: 15px;
}
.footer-part {
  position: relative;
}
.footer-mid {
  position: absolute;
  top: 20px;
  right: 45%;
  display: flex;
  flex-direction: column;
}
.footer-right {
  position: absolute;
  top: 20px;
  right: 10%;
  display: flex;
  flex-direction: column;
}
.footer-left {
  position: absolute;
  top: 10px;
  left: 7%;
  display: flex;
  flex-direction: column;
}
.p-footer {
  font-size: 12px;
}
.video {
  position: relative;
  /*width: 1540px;*/
  width: 100%;
  height: 520px;
  object-fit: cover;
}
.video-text {
  font-family: "Open Sans";
  font-size: 17px;
  font-weight: 600;
  position: absolute;
  top: 320px;
  left: 790px;
  color: #fff;
}
.video-text2 {
  font-family: "Open Sans";
  font-size: 17px;
  font-weight: 600;
  position: absolute;
  top: 360px;
  left: 742px;
  text-decoration: none;
}
.video-text2 > a {
  text-decoration: none;
  color: #fff;
  padding: 5px;
  border: 1px solid #fff;
}
.video-text3,
.video-text4 {
  align-items: center;
  color: #fff;
  font-family: "Open Sans";
  font-size: 17px;
  font-weight: 600;
  position: absolute;
  top: 395px;
  left: 570px;
  text-decoration: none;
}
.video-text4 {
  top: 415px;
  left: 660px;
}
.video-not {
  font-family: "Open Sans";
  font-size: 17px;
  font-weight: 600;
  position: absolute;
  top: 310px;
  left: 700px;
  color: #fff;
}
.video-not1 {
  font-family: "Open Sans";
  font-size: 17px;
  font-weight: 600;
  position: absolute;
  top: 360px;
  left: 752px;
  color: #fff;
}
.video-notA {
  padding: 10px;
  border: solid 3px #ffffff;
  text-decoration: none;
  color: #ffffff;
}
/* .lien-check {
  position: absolute;
  width: 200px;
  height: 3px;
  display: block;
  margin-left: 660px;
}
span.lien-check {
  background-color: #c01eaf;
} */
.check {
  margin-top: 35px;
}
/* @import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap");

.check-p {
  /*  text-align: center;
  color: #811575;
  font-family: "Open Sans";
  margin: 0;
  font-size: 23px;
  font-weight: bolder; */
  padding-top: 5px;
  text-align: center;
  /* font-family: "Great Vibes"; */
  font-family: "Playfair Display", serif;
  font-size: 32px;
  font-weight: 600;
  color: rgb(0, 0, 0);
}
.Location {
  padding: 15px;
  padding-bottom: 3px;
  padding-left: 0;
  font-family: "Playfair Display", serif;
  font-weight: 600;
  color: #565656;
  font-size: 20px;
}
.form {
  text-align: center;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.add {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  font-size: 24px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
}
button.start {
  cursor: pointer;
  padding: 3px;
}
.parallax-felx > input {
  padding: 3px;
}
.drow {
  margin-top: -40px;
  display: inline-block;
  height: 0.3em;
  width: 50%;
  border-bottom: 3px solid #8a8989;
  vertical-align: middle;
  margin-left: 5px;
}
.centre-home h4,
.h4-form {
  font-family: "vibes";
  font-weight: 700;
  margin-left: 20px;
  width: fit-content;
  width: -moz-fit-content;
}
.form-container,
.form-content {
  padding: 10px;
  position: relative;
  margin-left: 450px;
}
:root {
  --color-white: #f3f3f3;
  --color-darkblue: #1b1b32;
  --color-darkblue-alpha: rgba(27, 27, 50, 0.8);
  --color-green: #37af65;
}
.cover {
  background: var(--color-darkblue);
  background-image: linear-gradient(
      115deg,
      rgba(58, 58, 158, 0.8),
      rgba(136, 136, 206, 0.7)
    ),
    url(../img/Gaming-5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.form-container {
  width: 60%;
  margin: 30px auto;
  padding-top: 50px;
  padding-bottom: 50px;
  border: none;
  border-radius: 15px;
  /* box-shadow: 4px 10px 19px black; */
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: var(--color-darkblue-alpha);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
  padding: 22px;
  max-width: 500px;
}
.form-group {
  padding: 0;
}
.form-add label {
  /* margin-top: 10px;
  margin-left: 20px; */
  display: flex;
  justify-content: space-between;

  text-transform: capitalize;
}
.form-add label {
  padding: 5px;
  font-size: 20px;
  color: var(--color-white);
}
.h4-form {
  padding: 15px;
  font-size: 20px;
  color: var(--color-white);
  text-transform: capitalize;
}
input#event_imageFile_file.input-field {
  color: var(--color-white);
}
.select {
  margin-left: 20px;
}
.form-container .form-add {
  padding: 15px;
  margin-left: 15px;
}
form#event_type > * {
  padding: 5px;
  margin: 25px;
}
.discription-border {
  background-color: rgba(122, 122, 184, 0.7);
}
input#event_date_event.input-field,
input#event_imageFile_file.input-field {
  width: 760px;
}
input#event_places.input-field {
  margin: 5px;
  margin-top: 0px;
  width: 760px;
  max-height: 30px;
  min-height: 28px;
}
input#event_name.input-field {
  margin: 5px;
  margin-top: 0px;
  max-height: 30px;
  min-height: 28px;
  width: 760px;
}

textarea#event_description.input-field {
  margin: 5px;
  margin-top: 0px;
  max-height: 72px;
  min-height: 28px;
  height: 174px;
  width: 760px;
  max-width: 760px;
}
input#event_adresse.input-field {
  margin: 5px;
  margin-top: 0px;
  max-height: 49px;
  min-height: 28px;
  width: 760px;
}
input#event_cp.input-field {
  margin: 5px;
  margin-top: 0px;
  max-height: 36px;
  min-height: 36px;
  width: 760px;
}
input#event_city.input-field {
  margin: 5px;
  margin-top: 0px;
  width: 760px;
  max-height: 36px;
  min-height: 36px;
}
.search {
  width: 350px;
  margin-left: 20px;
  margin-bottom: 10px;
}
.grip {
  padding: 10px;
  margin-top: 20px;
  margin-left: 200px;
  margin-bottom: 30px;
}
i.fa-solid.fa-grip-lines {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.grip-p {
  margin: 0;
  color: #c01eaf;
  font-size: 18px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
}
.box-container {
  margin-left: 240px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.box {
  padding: 12px;

  background-color: #dfc9e4;
  /*
  box-shadow: inset -2px -2px 73px 21px rgba(165, 121, 165, 0.72); */
  width: 520px;
  border-radius: 10px;
}
.date-box {
  width: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  text-align: center;
  color: #fff;
}
.box-up {
  margin-top: 12px;
  display: flex;
  flex-wrap: wrap;
  height: 200px;
  width: 500px;
}
.flex-sl {
  display: flex;
  flex-wrap: wrap;
}
.box-right {
  padding: 25px;
  padding-left: 30px;
}
.sl-1 {
  padding: 25px;
  padding-top: 15px;
  width: 190px;
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  padding-left: 5px;
}
.sl-1 > p {
  font-size: 18px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  color: #323232;
  padding: 10px;
  padding-bottom: 0;
  padding-top: 0;
}
.sl-1 > a.fa-solid.fa-pen-to-square.admin::before,
.sl-1 > a.fa-solid.fa-trash-can.admin::before {
  padding: 10px;
  margin: 15px;
  margin-left: 0;
  margin-right: 0;
  padding-right: 0;
}
.box-left {
  margin-left: 10px;
  height: 200px;
  object-fit: cover;
  display: flex;
  flex-wrap: wrap;
  background-color: #110a2b;
  width: 475px;
}
.box-img {
  width: 425px;
  height: 200px;
  object-fit: cover;
}

.adress-p {
  text-align: justify;
  margin-left: 20px;
  font-size: 18px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  color: #565656;
  width: 150px;
}
.admin {
  color: #b729ba;
  margin-right: 15px;
}
.admin:hover {
  color: #811683;
}
.color-hand {
  color: #7c7c7c;
}

.fa-solid.fa-map-pin.color-hand a:hover {
  color: #811683;
}
.fa-solid.fa-map-pin.color-hand:hover {
  color: #811683;
}
.comment-button {
  color: #811683;
  padding: 3px;
}
.comment-input {
  padding: 3px;
  color: #565656;
}
.fa-solid.fa-map-pin.color-hand a {
  color: #148eb7;
}
.button {
  padding: 5px;
  border: 2px solid #565656;
}
i.fa-solid.fa-hand-peace {
  margin-left: 20px;
  padding: 10px;
  height: 40px;
  width: 175px;
  border: 3px solid #811575;
  display: flex;
  gap: 10px;
}
i.fa-solid.fa-hand-peace:hover {
  border: 3px solid #b729ba;
}
i.fa-solid.fa-hand-peace a:hover {
  color: #b729ba;
}
i.fa-solid.fa-hand-peace a:hover {
  text-decoration: none;
}
i.fa-solid.fa-hand-peace a {
  color: #811575;
  font-size: 16px;
  font-weight: 700;
}
.box-name {
  margin-right: 18px;
  font-size: 22px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  color: #b729ba;
}
.box-name:hover {
  color: #811683;
  text-decoration: none;
}
.learn-more {
  width: 120px;
  font-size: 16px;
  font-weight: 700;
  border: 3px solid #811575;
  margin-left: 20px;
}
.learn-more a {
  color: #811575;
}
.learn-more:hover {
  border: 3px solid #b729ba;
}
.learn-more a:hover {
  text-decoration: none;
  color: #b729ba;
}
.btn-event {
  margin-top: 20px;
  margin-left: 660px;
  background-color: #b729ba;
  border-radius: 12px;
}

a.lien {
  margin-top: 20px;
  position: absolute;
  top: 100px;
  margin-left: 150px;
  color: #b729ba;
  font-size: medium;
  font-family: "open sans";
  font-weight: 700;
}
a.lien:hover {
  color: #eaa3eb;
  text-decoration: none;
}
a.lien_show {
  margin-top: 24px;
  position: absolute;
  top: 100px;
  margin-left: 190px;
  color: #b729ba;
  font-size: medium;
  font-size: 16px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
}
h1.h3.mb-3.font-weight-normal.h1-log {
  font-size: 26px;

  font-family: "Playfair Display", serif;
  font-weight: 700;
  margin: 10 auto;
  margin-left: -15px;
  width: 100%;
  text-align: center;
  color: rgba(18, 18, 18);
}
a.lien_show:hover {
  color: #eaa3eb;
  text-decoration: none;
}
.user-top {
  margin-top: 130px;
}
.user-label {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-left: 160px;
  font-size: 16px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  color: rgb(18, 18, 18);
}
.btn {
  margin-left: 10px;
  /* background-color: #b729ba; */

  background: linear-gradient(
    90deg,
    rgb(18, 18, 18) 12%,
    rgb(18, 18, 18) 31%,
    rgb(11, 11, 11) 80%,
    rgb(11, 11, 11) 95%
  );
  position: relative;
  height: 30px;
  border: none;
  outline: none;
  padding: 5px 10px;
  color: #fff;
  font-size: 12px;
  border-radius: 10px;
  cursor: pointer;
  /* border-radius: 12px;
  padding: 5px; */
}
.user-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 30%;
  justify-content: center;
  width: 30%;
  text-align: center;
  margin: 0 auto;
}
.user-input > input {
  margin: 0 auto;
  width: 40%;
}
.user-input > button {
  margin: 0 auto;
  width: 40%;
}
.user-center {
  text-align: center;
  margin: 10 auto;
}
.border-email {
  font-size: 16px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  border: rgb(18, 18, 18) solid 1px;
}
input#inputPassword.input {
  font-size: 16px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  color: rgb(18, 18, 18);
}
.lock {
  margin-left: 500px;
  width: 50px;
}
h1.h1-reg {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 15px;
  font-size: x-large;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  color: rgb(18, 18, 18);
  margin-left: -15px;
}
.reg-form2 {
  display: flex;
  flex-direction: column;
}
.reg-form2 > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px auto;
}
.password-div > div {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.password-div {
  margin-left: 110px;
}
.reg-form li {
  font-size: 20px;
  font-family: "vibes";
  color: #e31010;
}
/* .reg-form2 label.required {
}
.reg-form2 input {
}
.password-div label.required {
} */
.terms > * {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
  margin-left: 120px;
}
.fa-solid.fa-list-check::before {
  padding-right: 5px;
}
i.fa-solid.fa-list-check {
  display: flex;
  flex-wrap: wrap;
}

#registration_form_agreeTerms {
  margin-left: 30px;
}
.centre-a1 {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  margin-left: 170px;
}
.btn-reg {
  font-size: large;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  margin: 0 auto;
  padding: 5px 40px;
  padding-top: -30px;
  border-radius: 5px;
}
.boxi {
  margin-top: 100px;
  margin-left: 140px;
  width: 900px;
  object-fit: cover;
  display: flex;
  background-color: #110a2b;
}
.box-centre {
  display: flex;
  flex-direction: column;
  margin-left: 200px;
}
.show-mode {
  margin-left: 150px;
}
.left-right {
  width: 900px;
  padding: 10px;
  padding-left: 0;
  font-size: 20px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  display: flex;
  flex-wrap: wrap;
  /* gap: 115px; */
  justify-content: space-between;
}
p .button {
  font-size: 20px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
}
.left-right > p {
  font-family: "Playfair Display", serif;
  font-size: 22px;
  font-weight: 700;
  color: rgb(66, 66, 66);
}
.swiper-slide:hover {
  cursor: pointer;
}
div.dateBox {
  width: 100px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  text-align: center;
  color: #fff;
}
img.boxImg {
  width: 900px;
  height: 340px;
  /* height: auto; */
  object-fit: cover;
}
.img {
  margin-left: 20px;
  margin-top: 20px;
  width: 150px;
  /* height: 400px; */
  object-fit: cover;
  object-position: top;
}
.img1 {
  margin-left: -10px;
  margin-top: 20px;
  /* height: 400px; */
  object-fit: cover;
  object-position: top;
}
.join-desc {
  font-size: 20px;
  font-weight: 700;
  font-family: "vibes";
  color: #148eb7;
}
.desc-color {
  margin-left: 10px;
  font-size: 13px;
  color: #414040;
}
.place-join i {
  color: #811575;
}
.place-join a {
  padding: 5px;
  font-size: 20px;
  font-weight: 700;
  font-family: "vibes";
  color: #811575;
  text-decoration: underline;
}
.Discripe {
  color: #5d5d5d;
  width: 550px;
  font-size: 18px;
  font-weight: 400;
  font-family: "vibes";
}
.Postal {
  padding: 10px;
  padding-bottom: 0px;
  width: 550px;
  font-size: 18px;
  font-weight: 700;
  font-family: "vibes";
  color: #565656;
}
.Postal-line {
  margin-left: 10px;
  width: 900px;
  content: " ";
  color: #565656;
  border-bottom: solid 2px #565656;
}
div.gray-text,
.desc {
  font-size: 18px;
  font-weight: 700;
  font-family: "vibes";
  color: #565656;
}
body {
  position: relative;
}
.swiper {
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}
.box1 {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  border-radius: 10px;
}
.box-left1 {
  display: flex;
  flex-wrap: wrap;
  height: 200px;
  /* width: 900px; */
}
.date-left {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.date-right img {
  width: 350px;
  height: 200px;
  object-fit: cover;
}
.date-box1 {
  background-color: #110a2b;
  display: flex;
  gap: 20px;
  justify-content: center;
  text-align: center;
  color: #fff;
}
.first-adresse {
  font-size: 14px;
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #1d1d1d;
}
.adresse-box1 {
  margin-left: 30px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  text-align: justify;
  font-size: 14px;
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #565656;
  width: 150px;
}
.box1-right {
  color: black;
}
.gallery {
  margin-top: 40px;
  margin-bottom: 30px;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 6px);
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: var(--swiper-pagination-bottom, 0px);
}
.back {
  background-image: url("/img/Gaming-2.jpg");
  /* Set a specific height */
  min-height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*filter: grayscale(1);*/
}
.parallax {
  margin: 0px;
  /* The image used */
  /* background-color: #000000; */
  opacity: 0.6;
  min-height: 500px;
}
.demo {
  opacity: 0.9;
  margin: 0;
  display: grid;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  text-align: center;
}
.demo > *:first-child {
  align-self: stretch;
}
.h3-demo {
  margin-top: 100px;
  padding-top: 30px;
  /* color: rgb(255, 255, 255);
  font-size: 28px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif; */
  padding-top: 5px;
  text-align: center;
  /* font-family: "Great Vibes"; */
  font-family: "Playfair Display", serif;
  font-size: 32px;
  font-weight: 600;
  color: rgb(225, 225, 225);
}
.p-demo {
  padding-bottom: 30px;
  color: rgb(240, 240, 240);
  /* font-size: 18px;
  text-align: center; */
  margin: 10px;
  /*  font-family: "open sans"; */
  text-align: center;
  font-family: "Open Sans";
  font-size: 14px;
  margin-top: 10px;
  font-weight: 500;
  /* margin-bottom: 15px; */
}
.FEATURED-SHOWS {
  /* margin-bottom: 20px; */
  padding: 10px;
  color: #555;
  /*  background-color: rgb(236, 234, 234); */
}
.FEA-span {
  color: #555;
  margin-left: 625px;
}
.FEA-titre {
  /* font-size: 25px;
  font-weight: 700;
  font-family: "vibes";
  margin-left: 610px; */
  padding-top: 5px;
  text-align: center;
  /* font-family: "Great Vibes"; */
  font-family: "Playfair Display", serif;
  font-size: 32px;
  font-weight: 600;
  color: rgb(0, 0, 0);
}
.FEA {
  padding: 10px;
  padding-top: 20px;
}
.FEA-p {
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 300;
  margin-top: 20px;
  text-align: center;
  /*   font-size: 14px;
  font-weight: 500;
  font-family: "vibes"; */
  /* margin-left: 50px; */
}
.FEA-p1 {
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  /* font-size: 14px;
  font-weight: 500;
  font-family: "vibes"; */
  /* margin-left: 50px; */
}
.FEA-p2 {
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  /* font-size: 14px;
  font-weight: 500;
  font-family: "vibes"; */
  /* margin-left: 50px; */
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.FEATURED-SHOWS {
  width: 100%;
}
.centre-a {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
.FEA-a {
  width: 100%;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  /* font-family: "vibes"; */
  font-family: "Playfair Display", serif;
  border: solid 3px #555;
  padding: 5px;
  color: #555;
}
#myBtn {
  z-index: 2;
  position: fixed;
  left: 10px;
  bottom: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  background: #272627e8;
  box-shadow: 0 0 10px #d7ebff;
  color: #f2f2f2;
  outline: none;
  cursor: pointer;
}
#myBtn:active {
  background: rgb(141, 139, 139);
}
div.comment {
  margin-left: 150px;
}
.InputContainer-comment,
.mar-comment {
  margin-left: 20px;
}
.comment-item {
  position: relative;
}

.font-comment {
  margin-left: 20px;
  font-size: 20px;
  font-weight: 500;
  font-family: "vibes";
}
.form-comment {
  margin-bottom: 20px;
}
p .notice {
  margin-bottom: 120px;
}
.alert-success {
  margin-bottom: 20px;
  position: absolute;
  top: 200;
  z-index: 100;
  left: 65%;
  right: 0;
  font-size: 20px;
  font-family: "vibes";
  color: #2ac847;
}
.alert-error {
  margin-bottom: 20px;
  position: absolute;
  top: 200;
  z-index: 100;
  left: 65%;
  right: 0;
  font-size: 20px;
  font-family: "vibes";
  color: #e31010;
}
.error-msg {
  top: 12%;
  margin-bottom: 20px;
  position: absolute;
  z-index: 100;
  left: 65%;
  right: 5%;
  font-size: 20px;
  font-family: "vibes";
  color: #e31010;
}
.error-msg1 {
  top: 15%;
  margin-bottom: 20px;
  position: absolute;
  z-index: 100;
  left: 65%;
  right: 5%;
  font-size: 20px;
  font-family: "vibes";
  color: #e31010;
}
.left-trash {
  padding-top: 12px;
  color: #a51717;
  margin: 0;
  margin-left: 5px;
}
.postedby {
  margin-left: 610px;
  display: flex;
  flex-wrap: wrap;
}
.pag {
  font-size: 18px;
  font-weight: 700;
  font-family: "vibes";
  margin-top: 30px;
  text-decoration: none;
  display: flex;
  justify-content: center;
}
.event {
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
  height: 65vh;
  background-image: url("/img/game-count.jpg");
  background-size: cover;
  background-position-y: center;
  object-fit: cover;
}
.font-event {
  padding-top: 50px;
  text-align: center;
  /* font-family: "Great Vibes"; */
  font-family: "Playfair Display", serif;
  font-size: 32px;
  font-weight: 700;
  color: #fff;
}
.font-event1 {
  text-align: center;
  /* font-family: "Great Vibes"; */
  font-family: "Playfair Display", serif;
  font-size: 32px;
  font-weight: 700;
  color: #fff;
}
.font-event2 {
  padding-top: 5px;
  text-align: center;
  /* font-family: "Open Sans"; */
  font-family: "Playfair Display", serif;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
}
/* .font-event3 {
  text-align: center;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 300;
  color: #fff;
} */

.count {
  color: #f2f2f2;
  /* font-family: "Great Vibes"; */
  font-family: "Playfair Display", serif;
  text-align: center;
  font-size: 42px;
  margin-top: 0px;
}
.count1 {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  color: #f2f2f2;
  font-family: "Amatic SC";
  text-align: center;
  font-size: 19px;
  margin-top: 0px;
}
.font-event4 {
  /* font-family: "Great Vibes"; */
  font-family: "Playfair Display", serif;
  font-size: 32px;
  font-weight: 300;
  color: #fff;
}
.days-content {
  margin-left: 150px;
  display: flex;
  gap: 10px;
  justify-content: center;
}
.form-contact-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.yes,
.no {
  border: dashed rgb(175, 175, 175) 3px;
  color: rgb(3, 3, 3);
  padding: 15px 100px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
}
.email,
.name {
  border: solid 2px rgb(175, 175, 175);
  color: rgb(3, 3, 3);
  padding: 5px 32px;
}

.Guest-name {
  border: solid 2px rgb(175, 175, 175);
  color: rgb(3, 3, 3);
  padding: 5px 32px;
}
.guest {
  border: solid rgb(255, 255, 255) 3px;
  color: rgb(3, 3, 3);
  padding: 4px 6px;
  padding-bottom: 8px;
  text-decoration: none;
  cursor: pointer;
  font-family: "Open Sans";
}
.h2-invitation {
  margin-bottom: 10px;
  font-size: 13px;
  font-weight: 600;
  font-family: "Open Sans";
  color: #323131;
}
.h2-invitation1 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 13px;
  font-weight: 600;
  font-family: "Open Sans";
  color: #323131;
}
.submit {
  border: solid rgb(0, 0, 0) 3px;
  text-decoration: none;
  background-color: rgb(0, 0, 0);
  color: #f2f2f2;
  cursor: pointer;
  font-family: "Open Sans";
  padding: 4px 50px;
  margin-top: 30px;
  margin-left: 150px;
}
.contact {
  height: 100vh;
  background-color: rgb(236, 234, 234);
}
.video-window {
  border-radius: 5px;
  width: 580px;
  margin-top: 100px;
}
.contact-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding-top: 30px;
  width: 1536px;
}
.form-contact {
  border-radius: 5px;
  width: 580px;
  background-color: #fcfcfc;
  padding: 20px 50px 40px;
  box-shadow: 1px 4px 10px 1px #aaa;
}
.text1 {
  width: 100%;
  text-align: center;
  font-family: "Open Sans";
  font-weight: 500;
  font-size: 13px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.gray {
  padding-top: 20px;
  color: #a19e9e;
  font-family: "Open Sans";
  text-align: center;
  font-size: 15px;
  margin-top: 0px;
}
.black {
  padding-top: 5px;
  text-align: center;
  /* font-family: "Great Vibes"; */
  font-family: "Playfair Display", serif;
  font-size: 32px;
  font-weight: 600;
  color: rgb(0, 0, 0);
}
#myInfo {
  display: none;
}
#Profile {
  opacity: 0;
  padding: 5px;
  background-color: #272627e8;
  /* background-color: #8cc6ef; */
  border-radius: 10px;
  position: fixed;
  z-index: 2;
  top: 100px;
  color: #f2f2f2;
}

.profileHome {
  left: 10px !important;
  top: 305px !important;
}
.centre-user {
  width: 35%;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.942);
  margin-left: 490px;
  /* margin-top: -145px; */
  border-radius: 10px;
  overflow-y: scroll;
}

.info-user {
  top: 0;
  /* top: 89px; */
  /* right: 0; */
  z-index: 1;
  width: 100%;
  height: 100vh;
  position: fixed;
  padding: 15px;
  box-shadow: inset 0 0 2000px #271039;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.info-user p {
  color: #271039;
  font-family: "Playfair Display", serif;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 15px;
  margin-top: 10px;
}
.Created-User a,
.Joined-User a,
.Comment-user a {
  color: #811683;
}
.info-user h1 {
  color: #271039;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 600;
}
.info-user h2 {
  color: #391030;
  font-family: "Playfair Display", serif;
  font-size: 30px;
  font-weight: 600;
}
/* .animate {
  margin-top: -90px;
  animation-duration: 0.3s;
  animation-name: animate-fade;
  animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
  animation-fill-mode: backwards;
}
/* Pop In */
.animate.pop {
  animation-name: animate-pop;
}
*/ body.menu-open {
  overflow: hidden;
  height: 100%;
}
.yes {
  border: dashed #88f988 3px;
  background: #ddffdd;
  color: #88f988;
}

.no {
  border: dashed rgb(175, 175, 175) 3px;
  color: rgb(3, 3, 3);
  background: none;
}

.text-report {
  width: 100%;
  height: 150px;
  resize: vertical;
}

@keyframes animate-pop {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
    background-color: #0e2431;
  }
}

.Created-User,
.Joined-User {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Comment-user,
.Created-User,
.Joined-User > ul {
  font-size: 15px;
  font-family: "Open Sans";
  color: rgb(0, 0, 0);
  font-weight: 600;
}
.centre-mention {
  font-family: "Open Sans";
  font-weight: 600;
  width: 550px;
  margin-left: 400px;
  text-align: justify;
}
.fixed-position {
  position: fixed;
  overflow: hidden;
}
#mapid {
  width: 100%;
  height: 400px;
  margin-bottom: 20px;
}

.leaflet-marker-icon {
  color: red;
  font-size: 24px;
}

.box {
  transition: 0.5s;
}
.box:hover {
  transform: translateY(-10px);
  cursor: pointer;
}
.Joined-User > * {
  color: #000000;
  font-weight: bold;
}
.uk-pagination > * > * {
  /* color: #b07ebc; */
  color: #811575;
}
.info {
  height: 65vh;
  padding-top: 0px;
  padding: 30px;
  background-color: #f8f5f5;
  font-family: Arial;
  color: rgb(63, 62, 62);
  margin-left: -20px;
  margin-right: -20px;
}
.h3-out {
  text-align: center;
  /* font-family: "Great Vibes"; */
  font-family: "Playfair Display", serif;
  font-size: 32px;
  font-weight: 600;
  color: rgb(0, 0, 0);
  padding-top: 30px;
  margin-top: 35px;
  margin-right: 25px;
  margin-bottom: 25px;
  width: 600px;
  margin-left: 500px;
}
.p-out {
  padding-bottom: 10px;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 300;
  color: #555;
  /* font-size: 18px; */
  margin-top: 25px;
  margin-right: 25px;
  margin-bottom: 45px;
  text-align: center;
  width: 490px;
  margin: 25px;
  margin-left: 550px;
}
.flex {
  height: 75vh;
  display: flex;
  background-color: #ffffff;
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 100px;
}
.flex-box {
  flex: 1 1 auto;
  width: 350px;
  height: 250px;
  margin: 50px;
  margin-bottom: 90px;
}
.flex-h3 {
  color: rgb(2, 2, 2);
  margin-left: 60px;
  font-size: x-large;
}
.flex-p {
  color: #555;
  margin-left: 50px;
  margin-bottom: 25px;
  font-size: 13px;
}
.flex2-h3 {
  color: rgb(2, 2, 2);
  margin-left: 30px;
  font-size: large;
  margin-bottom: 6px;
}
.flex2-p {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  color: #555;
  margin-left: 30px;
  margin-bottom: 35px;
  font-size: 14px;
}
.img {
  margin: 2%;
  width: 170px;
  height: 160px;
  cursor: zoom-in;
}
.card {
  background: #f8f5f5;
  width: 170px;
  border-radius: 45%;
  overflow: hidden;
  transition: 0.5s;
}
.card-header {
  position: relative;
  height: 200px;
  overflow: hidden;
}
.card:hover {
  transform: translateY(-15px);
}
.card:hover .card-header img {
  transform: scale(1.1);
}
.card-header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(1);
  transition: 0.5s;
}
.card-header img:hover {
  filter: grayscale(0%);
}
.sc {
  height: 50px;
  width: 50px;

  position: absolute;
  top: 25%;
  left: -50px;
  align-items: center;
  transition: 0.5s;
}
.card:hover .sc {
  left: -4px;
}
.sc .fa-brands {
  border-radius: 50%;
  padding: 8px;
  background-color: #ffffff;
  color: rgb(8, 8, 8);
}
.accordion {
  background-color: white;
  color: #2f2e2e;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}
.active,
.accordion:hover {
  background-color: #3365c0;
  color: #eee;
}
.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}
#menu-acc {
  margin-top: 3px;
  border-radius: 25px;
  width: 650px;
  margin-bottom: 10px;
}
.menu {
  padding: 3px;
  font-size: medium;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(56, 56, 56);
  font-weight: bold;
}
.menu-info {
  padding: 3px;
  font-size: small;
  font-weight: light;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(61, 26, 26);
}
.acc-img {
  box-shadow: 1px 4px 10px 1px #aaa;
  border-radius: 60px;
  width: 580px;
  height: 380px;
}
.acc-flex {
  display: flex;
  margin-left: 100px;
  margin-top: 30px;
  gap: 40px;
  height: 60vh;
}
.acc-flex1 {
  margin-top: 40px;
  border-radius: 5px;
  height: fit-content;
  background-color: #fcfcfc;
  box-shadow: 1px 4px 10px 1px #aaa;
  flex: 1;
}
.acc-flex2 {
  flex: 2;
}
.acc-p {
  color: rgb(56, 56, 56);
}
.tout-acc {
  background-color: #f8f5f5;
}
.tout-acc > .acc-p {
  padding-top: 5px;
  text-align: center;
  /* font-family: "Great Vibes"; */
  font-family: "Playfair Display", serif;
  font-size: 32px;
  font-weight: 600;
  color: rgb(0, 0, 0);
  padding-top: 40px;
  padding-bottom: 60px;
}
@media screen and (max-width: 700px) {
  .flex,
  .info,
  .acc-p,
  .acc-flex {
    display: none;
  }
  .alert-success {
    font-size: 13px;
  }
  .alert-error {
    font-size: 13px;
  }
  .postedby {
    margin-left: 10px;
  }
  .info-user {
    height: 350vh;
  }
  .map,
  #mapid,
  .leaflet-marker-icon {
    display: none;
  }
  .game-info {
    flex-direction: column;
  }
  .img {
    width: 100%;
    height: auto;
  }
  .desc {
    width: 90%;
  }
  .container {
    max-width: 700px;
    width: 100%;
    margin: auto;
  }
  .video {
    display: none;
  }
  .nav-home {
    height: 10vh !important;
    background: linear-gradient(
      90deg,
      rgb(18, 18, 18) 12%,
      rgb(66, 66, 66) 31%,
      rgba(18, 18, 18, 0.79) 58%,
      rgba(43, 27, 44, 0.79) 80%,
      rgb(11, 11, 11) 95%
    );
  }
  .navbar .menu-items {
    padding: 130px;
    padding-bottom: 2970px;
    backdrop-filter: blur(15px);
    box-shadow: inset 0 0 2000px #2e2e2e;
    justify-content: center;
  }
  .lock {
    margin-left: 10px;
  }
  .navbar .nav-container a {
    color: #c357c5;
    font-weight: bolder;
    font-size: 30px;
  }
  span.lien-check {
    margin-left: 85px !important;
  }
  .swiper-wrapper {
    width: 80%;
  }
  .swiper-button-next:after,
  .swiper-rtl .swiper-button-prev:after {
    margin-top: -90px;
    margin-left: -30px;
  }
  .swiper-button-prev:after,
  .swiper-rtl .swiper-button-next:after {
    margin-top: -90px;
    margin-right: -30px;
  }
  .adresse-box1 {
    flex-direction: row;
    font-size: 10px;
    font-weight: bolder;
    width: fit-content;
    margin-left: 0;
    gap: 2;
  }
  .adresse-box1 p {
    width: auto;
  }
  .swiper {
    margin: 50px auto;
    padding-bottom: 50px;
  }
  .back {
    width: 400px;
    background-attachment: unset;
    object-fit: cover;
  }
  .demo {
    width: 280px;
    margin-left: 55px;
  }
  .contact {
    height: 190vh;
    width: 400px;
  }
  .contact-flex {
    flex-direction: column-reverse;
    gap: 2px;
    width: 400px;
  }
  .form-contact,
  .video-window {
    width: 400px;
  }
  .event {
    width: 400px;
    height: 80vh;
  }
  .font-event4 {
    margin-left: 50px;
  }
  .count1 {
    margin-left: 70px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .event-days {
    display: flex;
    flex-direction: column;
  }
  .days-content {
    margin-top: 20px;
    flex-direction: column;
  }
  .button {
    width: 180px;
  }
  .footer {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    gap: 10px;
    height: 50vh;
    text-align: unset;
  }
  body {
    display: flex;
    flex-direction: column;
    grid-template-rows: 1fr auto;
  }
  .footer-mid {
    top: 150px;
  }
  .footer-right {
    right: 2%;
  }
  .footer-left {
    right: 8%;
  }
  #myBtn {
    bottom: 10px;
  }
  /*   #Profile {
    opacity: 1;
    top: 30px;
    left: 30px;
  } */
  #myInfo {
    width: 400px;
  }
  .centre-user {
    /* margin-top: 145px; */
    margin-left: 0;
    width: 340px;
    height: fit-content;
  }
  a.lien {
    margin-left: 20px;
  }
  .grip,
  .form-container,
  .form-content {
    margin-left: 0;
    width: auto;
  }
  .form-add .line2,
  .form-add .line1 {
    width: 320px;
  }
  .search,
  .select {
    width: 280px;
  }
  .btn-event {
    margin-left: 120px;
  }
  .form-container:before,
  .form-container:after {
    left: 85%;
  }
  /*  .form {
    margin-top: -120px;
  } */
  .add {
    display: none;
  }
  input#event_imageFile_file.input-field {
    width: 88%;
  }
  .box-container {
    margin-left: 10px;
  }
  .box {
    width: 350px;
  }
  .box-up {
    width: 280px;
  }
  .box-left {
    flex-wrap: unset;
  }
  a.lien_show,
  .game-info,
  .show-mode,
  div.comment {
    margin-left: 20px;
  }
  .boxi,
  .Postal {
    padding: 5px;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 10px;
    width: 350px;
  }
  img.boxImg {
    padding-right: 20px;
    padding-left: 5px;
  }
  .box-centre {
    margin-left: 0;
    width: 400px;
  }
  .left-right {
    gap: 0;
  }
  .place-join a {
    margin-left: 170px;
  }
  .Postal-line {
    width: 300px;
  }
  img.logo {
    width: 30%;
    height: 30%;
    margin-top: 2px;
  }
  .centre-home,
  .reg-form,
  h1.h3.mb-3.font-weight-normal.h1-log,
  label.label {
    margin-left: 20px;
  }
  .label {
    gap: 3px;
  }
  .form-container {
    margin-top: 80px;
    width: 90%;
    margin-left: 10px;
  }
  .box-left {
    margin-left: 20px;
  }
  .sl-1 > p {
    padding: 0;
  }
  input#event_name.input-field,
  input#event_places.input-field,
  textarea#event_description.input-field,
  input#event_adresse.input-field,
  input#event_cp.input-field,
  input#event_city.input-field,
  input#event_date_event.input-field,
  input#event_imageFile_file.input-field {
    width: 250px;
  }
  .user-center {
    margin-left: 0;
  }
  .user-input {
    width: auto;
  }
  .days-content {
    margin-left: 0;
  }
  img.logoHome {
    width: 100px;
    height: 50px;
    top: 0;
  }
  .navbar {
    height: 10vh;
  }
  img.logo {
    padding-top: 3px;
    opacity: 0.6;
  }
  .checkbox {
    z-index: 19999999;
  }
  .box1 {
    z-index: 1;
  }
  .navbar .menu-items {
    z-index: 2;
  }
  .navbar-blue {
    background: linear-gradient(
      90deg,
      rgb(18, 18, 18) 12%,
      rgb(66, 66, 66) 31%,
      rgba(139, 64, 133, 0.79) 58%,
      rgba(139, 64, 133, 0.79) 70%,
      rgb(11, 11, 11) 95%
    );
  }
  div.box-right {
    margin: 0;
    padding: 0;
  }
  .flex-sl {
    display: block;
  }
  div.sl-1 {
    margin: 0;
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 20px;
  }
  i.fa-solid.fa-hand-peace,
  .adress-p {
    margin-left: 20px;
  }
  .learn-more {
    margin-left: 20px;
  }
  .desc > p {
    width: 200px;
    overflow: hidden;
  }
  .left-right {
    flex-direction: column;
  }
  .img1 {
    display: none;
  }
  .user-label {
    margin-left: 120px;
  }
  .terms > * {
    margin-left: 0;
  }
  h1.h1-reg {
    margin-left: 0;
  }
  .centre-a1 {
    margin-left: 0;
  }
}
